.App {
  text-align: center;
  margin-top: 30px;
}

body {
  font-family: system-ui, sans-serif;
}

/* Navbar CSS */
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
}

/* Home Component CSS*/
.about-container {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 400;
  color: #90999B;
}

.container {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.bucket-container {
  height: 350px;
  width: 150px;
  border: 1px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.button {
  height: 40px;
  width: 100px;
  border: 1px solid;
  border-radius: 7px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.button-container {
  margin-top: 110px;
  padding: 40px;
}

/*Game Component CSS*/
.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-box {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  border: 1px solid rgb(49, 49, 225);
  border-radius: 25px;
}

.small-box {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(49, 49, 225);
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Apply border radii to specific boxes */
.small-box:nth-child(1) {
  border-top-left-radius: 25px;
}

.small-box:nth-child(3) {
  border-top-right-radius: 25px;
}

.small-box:nth-child(7) {
  border-bottom-left-radius: 25px;
}

.small-box:nth-child(9) {
  border-bottom-right-radius: 25px;
}

.game-start-button {
  border: 1px solid rgb(49, 49, 225);
  background-color: white;
  margin: 10px;
  padding: 5px;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

/*Nested List CSS  */
.nested-container{
  height: 500px;
  width: 1000px;
  border: 1px solid;
  justify-content: left;
  display: flex;
  margin: 70px;
  margin-left: 210px;
}
.container-left{
  display: flex;
  justify-content: left;
  margin: 50px;
}
.nested-list-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 200px;
  border: 1px solid gray;
  border-top: none;
  border-bottom: none;
  cursor: pointer;
  padding: 10px;
}

.parent-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.child-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subchild-container {
  text-align: left;
}

.parent-container:hover {
  background-color: rgb(249, 247, 247);
}

.parent-container.clicked {
  background-color: rgb(210, 209, 209);
}

.child-container:hover {
  background-color: rgb(237, 239, 248);
}

.child-container.clicked {
  background-color: rgb(124, 149, 249);
}

/* Scroll Page CSS*/
.scroll-page{
  height: 500px;
}